// Colors
$primary-red: rgb(204, 0, 0);
$primary-purple: rgb(130, 39, 87);
$background-white: rgb(250, 250, 250);
$background-grey-light: rgb(228, 228, 225);
$background-grey-dark: rgb(111, 110, 103);
$text-black: rgb(51, 51, 51);

// Fonts
$primary-font: 'Poppins', Helvetica, Arial, sans-serif;
$secondary-font: 'Open Sans', Arial, sans-serif;

// Breakpoints for media-queries
$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-large: 1024px;

