#expert {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		border-radius: 50%;
		height: 75vw;
		width: 75vw;
		margin-top: 1rem;
	}

	div {
		text-align: center;
		margin-top: 2rem;

		h2 {
			font-size: 1.7rem;
		}

		button {
			background-color: $primary-red;
			margin: 1.5rem 0;
		}
	}
}

// Media-queries
@media screen and (min-width: $breakpoint-desktop) {

	#expert {
		flex-direction: row;
		padding: 1rem 2rem;

		img {
			height: 250px;
			width: 250px;
			margin-right: 1.5rem;
		}

		div {

			h2 {
				font-size: 1.5rem;
			}

			p {
				font-size: 0.9rem;
			}

			button {
				margin: 1rem 0;
			}

		}

	}

}
