footer {
	font-family: $primary-font;

	h4 {
		font-size: 1.1rem;
		line-height: 2rem;
		font-weight: 600;
	}

	.footer-btn {
		margin: 2rem 0;
		max-width: 350px;
	}

	.websites {
		margin-bottom: 3rem;

		a {
			color: $primary-red;
			font-size: 0.9rem;
			font-weight: 600;

			i {
				margin-left: 0.8rem;
			}

			&:hover {
				text-decoration: underline 2px;
				text-underline-offset: 2px;
			}
		}

		p {
			font-size: 0.75rem;
			line-height: 1.1rem;
			margin: 0;
		}

	}

	#links {
		background-color: white;
		padding-top: 0.5rem;
		padding-bottom: 2rem;
		margin-bottom: 0;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			font-size: 0.9rem;
			font-weight: 500;
			color: $primary-red;
			padding-bottom: 1.4rem;

			&:last-child {
				padding-bottom: 0;
			}

			a:hover {
				font-weight: 600;
			}

			.fa-brands {
				color: rgb(144, 143, 136);
				font-size: 1.3rem;
				margin-right: 1.3rem;
				width: 1rem;
				text-align: center;
			}
		}

		#other-websites {
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 1rem;
		}
	}

	#contact-msb {
		background-color: $background-grey-dark;
		color: white;
		display: flex;
		flex-direction: column;
		margin-top: 0;

		a {
			font-size: 0.9rem;
			display: block;
			text-decoration: underline;
		}

		div {
			margin-bottom: 2rem;

			&:nth-child(2) {
				margin: 0;

				a {
					font-weight: 300;
					margin-bottom: 2rem;
				}
			}
		}

		img {
			height: 85px;
			margin-top: 2rem;
			object-fit: scale-down;
			object-position: left;
		}

		p {
			font-size: 0.9rem;
			margin: 0 0 1rem 0;
		}

		span {
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: 300;
		}

		#quote {
			border-top: 1px solid rgb(144, 143, 136);
			padding: 2rem;
			text-align: center;

			span {
				text-transform: none;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.8rem;
				letter-spacing: 0.02rem;
			}
		}
	}
}

// Media-queries
@media screen and (min-width: $breakpoint-tablet) {

	footer {
		#links {
			background-image: url("/src/illustrations/lines-footer.svg");
			background-size: contain;
			background-position: bottom left;
			background-repeat: no-repeat;
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
			padding: 2rem 10% 0;

			a {
				grid-column: 2 / 3;
			}

			#other-websites {
				grid-column: 1 / 3;
			}
		}

		#contact-msb {
			padding: 2rem 10% 0;
			display: grid;
			grid-template-columns: 2fr 1fr;

			div {
				margin-bottom: 0;
			}

			div:nth-child(2) {
				grid-column: 1 / 2;

				div {
					display: flex;

					div {
						flex-direction: column;

						&:first-child {
							margin-right: 20%;
						}
					}
				}
			}

			img {
				grid-column: 1 / 3;
				margin-bottom: 2rem;
			}

			#quote {
				grid-column: 1 / 3;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-desktop) {

	footer {
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: repeat(10, 1fr);

		#links {
			background-image: url("/src/illustrations/lines-footer-small.svg");
			grid-column: 1 / 11;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;

			div:nth-child(1) {
				grid-column: 1 / 2;
			}

			div:nth-child(2) {
				grid-column: 2 / 3;
			}

			div:nth-child(3) {
				grid-column: 3 / 4;
			}

			div:nth-child(4) {
				grid-column: 4 / 5;
			}

			.footer-btn {
				grid-column: 4 / 5;
			}

			.websites {
				a {
					font-size: 0.8rem;
				}
			}

			#other-websites {
				grid-column: 1 / 5;
			}
		}

		#contact-msb {
			grid-column: 1 / 11;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem;

			img {
				grid-column: 1 / 2;
				margin-top: 25%;
			}

			div:nth-child(2) {
				grid-column: 2 / 4;
			}

			#quote {
				grid-column: 1 / 5;
				padding-top: 3rem;

				span {
					font-size: 1.5rem;
				}
			}
		}
	}
}
