footer {

	font-family: $primary-font;

	h4 {
		font-size: 1.1rem;
		line-height: 2rem;
		font-weight: 600;
	}

	.footer-btn {
		border: 2px solid $primary-purple;
		color: $primary-purple;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.8rem;
		font-weight: 600;
		padding: 0.5rem 1.4rem;
		margin: 2rem 0;

		span {
			display: flex;
			align-items: center;

			&:first-child {
				justify-content: center;
				padding-left: 0.5rem;
				width: 95%;
			}
		}

		.arrow {
			width: 5%;

			.fa-arrow-right {
				margin: 0;
				font-size: 0.9rem;
			}
		}

		&:hover {
			background-color: $primary-purple;
			color: white;
		}
	}

	.websites {

		margin-bottom: 3rem;

		a {
			color: $primary-purple;
			font-size: 0.9rem;
			font-weight: 600;

			i {
				margin-left: 0.8rem;
			}
		}

		p {
			font-size: 0.75rem;
			line-height: 1.1rem;
			margin: 0;
		}

	}

	#links {
		background-color: white;
		padding-top: 0.5rem;
		padding-bottom: 2rem;
		margin-bottom: 0;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			font-size: 0.9rem;
			font-weight: 300;
			color: $primary-purple;
			padding-bottom: 1.4rem;

			&:last-child {
				padding-bottom: 0;
			}

			.fa-brands {
				color: rgb(144, 143, 136);
				font-size: 1.3rem;
				margin-right: 1.3rem;
				width: 1rem;
				text-align: center;
			}
		}

		#other-websites {
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 1rem;

			#line {
				background-color: rgb(202, 202, 197);
				height: 1px;
				width: 34%;
				margin-left: 1rem;
			}
		}
	}

	#contact-msb {
		background-color: $background-grey-dark;
		color: white;
		display: flex;
		flex-direction: column;
		margin-top: 0;

		a {
			font-size: 0.9rem;
			display: block;
			text-decoration: underline;
		}

		div {
			margin-bottom: 2rem;

			&:nth-child(2) {
				margin: 0;

				a {
					font-weight: 300;
					margin-bottom: 2rem;
				}
			}
		}

		img {
			height: 85px;
			margin-top: 2rem;
			object-fit: scale-down;
			object-position: left;
		}

		p {
			font-size: 0.9rem;
			margin: 0 0 1rem 0;
		}

		span {
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: 300;
		}

		#quote {
			border-top: 1px solid rgb(144, 143, 136);
			padding: 2rem;
			text-align: center;

			span {
				text-transform: none;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.8rem;
				letter-spacing: 0.02rem;
			}
		}

	}
}

// Media-queries
@media screen and (min-width: $breakpoint-tablet) {

	footer {
		#links {
			padding: 2rem 10% 0;
		}

		#contact-msb {
			padding: 2rem 10% 0;
		}
	}

}

@media screen and (min-width: $breakpoint-desktop) {

	footer {
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: repeat(10, 1fr);

		#links {
			grid-column: 1 / 11;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;

			div:nth-child(1) {
				grid-column: 1 / 2;
			}

			div:nth-child(2) {
				grid-column: 2 / 3;
			}

			div:nth-child(3) {
				grid-column: 3 / 4;
			}

			div:nth-child(4) {
				grid-column: 4 / 5;
			}

			.footer-btn {
				grid-column: 4 / 5;
			}

			.websites {
				a {
					font-size: 0.8rem;
				}
			}

			#other-websites {
				grid-column: 1 / 5;
				justify-content: space-between;

				#line {
					width: 75%;
				}
			}
		}

		#contact-msb {
			grid-column: 1 / 11;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;

			img {
				margin-top: 25%;
			}

			div:nth-child(2) {
				grid-column: 2 / 4;

				div {
					display: flex;

					div {
						flex-direction: column;

						&:first-child {
							margin-right: 20%;
						}
					}
				}
			}

			#quote {
				grid-column: 1 / 5;

				span {
					font-size: 1.5rem;
				}
			}
		}
	}
}
