footer {

	font-family: $primary-font;

	h4 {
		font-size: 1.1rem;
		line-height: 2rem;
		font-weight: 600;
	}

	.footer-btn {
		border: 2px solid $primary-purple;
		color: $primary-purple;
		border-radius: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.8rem;
		font-weight: 600;
		padding: 0.5rem 1.4rem;
		margin: 2rem 0;

		span {
			display: flex;
			align-items: center;

			&:first-child {
				justify-content: center;
				padding-left: 0.5rem;
				width: 95%;
			}
		}

		.arrow {
			width: 5%;

			.fa-arrow-right {
				margin: 0;
				font-size: 0.9rem;
			}
		}
	}

	.websites {

		margin-bottom: 3rem;

		a {
			color: $primary-purple;
			font-size: 0.9rem;
			font-weight: 600;

			i {
				margin-left: 0.8rem;
			}
		}

		p {
			font-size: 0.75rem;
			line-height: 1.1rem;
			margin: 0;
		}

	}

	#links {
		background-color: white;
		padding-top: 0.5rem;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
			font-size: 0.9rem;
			font-weight: 300;
			color: $primary-purple;
			padding-bottom: 1.4rem;

			&:last-child {
				padding-bottom: 0;
			}

			.fa-brands {
				color: rgb(144, 143, 136);
				font-size: 1.3rem;
				margin-right: 1.3rem;
				width: 1rem;
				text-align: center;
			}
		}

		#other-websites {
			display: flex;
			align-items: center;
			width: 100%;
			margin-bottom: 1rem;

			#line {
				background-color: rgb(202, 202, 197);
				height: 1px;
				width: 34%;
				margin-left: 1rem;
			}
		}
	}

	#contact-msb {
		background-color: $background-grey-dark;
		color: white;
		display: flex;
		flex-direction: column;
		margin-top: 3rem;

		a {
			font-size: 0.9rem;
			display: block;
			text-decoration: underline;
		}

		div {
			margin-bottom: 2rem;

			&:nth-child(2) {
				margin: 0;

				a {
					font-weight: 300;
					margin-bottom: 2rem;
				}
			}
		}

		img {
			height: 85px;
			margin-top: 2rem;
			object-fit: scale-down;
			object-position: left;
		}

		p {
			font-size: 0.9rem;
			margin: 0 0 1rem 0;
		}

		span {
			text-transform: uppercase;
			font-size: 0.7rem;
			font-weight: 300;
		}

		#quote {
			border-top: 1px solid rgb(144, 143, 136);
			padding: 2rem;
			text-align: center;

			span {
				text-transform: none;
				font-size: 1rem;
				font-weight: 600;
				line-height: 1.8rem;
				letter-spacing: 0.02rem;
			}
		}

	}
}
