header {
	width: 100%;
	background-color: white;

	#logo-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: fit-content;
		font-family: $primary-font;
		padding: 0.5rem;

		img {
			height: 60px;
		}

		div {
			display: flex;
			justify-content: right;
			padding: 0 0.5rem;
			width: fit-content;

			i {
				margin-right: 0.2rem;
				cursor: pointer;
			}

			#menu-icon {
				display: flex;
				align-items: center;
			}

			#search {
				text-transform: uppercase;
				display: flex;
				align-items: center;

				#search-bar {
					display: none;
					height: 100%;
					padding: 0.5rem 0.5rem;
					border: none;
					border-top: 2px solid $primary-red;
					border-bottom: 2px solid $primary-red;
					border-radius: 25px;
					font-family: $primary-font;
					text-transform: uppercase;
					text-align: center;

					::placeholder {
						color: rgb(202, 202, 197);
						opacity: 1;
					}

					::-ms-input-placeholder {
						color: rgb(202, 202, 197);
					}
				}
			}
		}
	}

	nav {
		display: flex;
		font-family: $primary-font;

		#menu {
			display: none;
			background-color: $background-white;
			font-weight: 600;
			padding: 0 5% 0 10%;

			ul {
				display: flex;
				margin: 0;
				padding: 0;

				li {
					display: flex;
					align-items: center;
					justify-content: center;
					list-style: none;
					text-align: center;

					a {
						padding: 2rem 0.9rem;
						display: flex;
						align-items: center;
						justify-content: center;
						border-bottom: 5px solid $background-white;
						height: 100%;

						&:hover {
							border-bottom: 5px solid $primary-red;
						}
					}
				}
			}
		}

		#nav-tree {
			background-color: $background-grey-light;
			padding: 0.5rem 0.7rem;
			text-transform: uppercase;
			width: 100%;

			ul {
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;

				li {
					display: flex;
					align-items: center;
					list-style: none;
					font-size: 0.7rem;
					font-weight: 300;
					letter-spacing: 0.01rem;
					padding: 0 0.2rem;

					&:not(:first-child) {
						&::before {
							content: ">";
							font-size: 0.9rem;
							font-weight: 600;
							margin-right: 0.4rem;
						}
					}

					#house {
						fill: $text-black;
						width: 1.2rem;
					}
				}

				#current {
					font-weight: 600;
				}
			}
		}
	}
}



// Media-queries
@media screen and (min-width: $breakpoint-tablet) {

	header {
		background-image: url("/src/images/lines-header.svg");
		background-size: contain;
		background-position: top right;
		background-repeat: no-repeat;

		#logo-container {
			padding: 1rem 10%;

			img {
				height: 80px;
			}

			div {
				justify-content: center;
				background-color: $primary-red;
				border-radius: 25px;
				color: white;
				padding: 0.3rem 0.5rem;
			}
		}

		nav {
			#nav-tree {
				padding: 0.5rem 10%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-desktop) {

	header {
		background-image: url("/src/images/lines-header-small.svg");
		grid-column: 1 / 11;
		display: grid;
		grid-template-columns: repeat(10, 1fr);

		#logo-container {
			grid-column: 2 / 10;
			padding: 1rem 0;

			img {
				height: 100px;
			}

			div {
				padding: 0 0.5rem 0 0.2rem;
				border: 1px solid $primary-red;

				#menu-icon {
					display: none;
				}

				#search {

					padding: 0;

					i {
						margin-left: 0.5rem;
					}

					#search-bar {
						display: flex;
					}
				}
			}
		}

		nav {
			grid-column: 1 / 11;
			flex-direction: column;

			#menu {
				display: flex;
			}
		}
	}
}
