main {
	display: flex;
	flex-direction: column;
	max-width: 768px;

	a {
		&:hover {
			span {
				font-weight: 600;
				text-underline-offset: 3px;
			}
		}
	}

	button {
		color: white;
		font-family: $primary-font;
		font-weight: 600;
		font-size: 0.9rem;
		letter-spacing: 0.05rem;
		border: none;
		border-radius: 30px;
		padding: 1rem 2.4rem;
		cursor: pointer;
	}

	h1,
	h2,
	h3 {
		font-family: $primary-font;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 1.6rem;
		line-height: 2.2rem;
		letter-spacing: 0.05rem;
		font-weight: 700;
		margin-top: 1rem;
	}

	h2 {
		font-size: 1.4rem;
		line-height: 2rem;
		font-weight: 600;
	}

	h3 {
		font-size: 1.3rem;
		line-height: 2rem;
		font-weight: 600;
	}

	p {
		font-family: $primary-font;
		font-weight: 300;
	}

	.arrow-button {
		width: 12%;
		display: flex;
		align-items: center;
		justify-content: center;

		.fa-arrow-right {
			margin: 0;
		}
	}

	.box-text {
		height: 100%;
		width: 88%;
		display: flex;
		align-items: center;

		&::before {
			width: 4%;
			height: 100%;
			content: "";
			margin-right: 1.5rem;
		}
	}

	.content {
		max-width: 600px;
	}

	.contact-email {
		font-size: 0.9rem;
		font-weight: 300;
		cursor: pointer;

		&:hover {
			text-decoration: underline 2px;
			text-underline-offset: 2px;
		}
	}

	.fa-arrow-right {
		font-size: 1.2rem;
		line-height: 1.5rem;
		margin-right: 0.8rem;
	}

	.info-box {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-family: $primary-font;
		font-weight: 600;
		font-size: 0.9rem;
		width: 100%;
		max-width: 500px;
		margin: 3rem 0;
	}
}

// Media-queries
@media screen and (min-width: $breakpoint-desktop) {
	main {
		grid-column: 2 / 7;
		grid-row: 2 / 4;

		button {
			font-size: 0.8rem;
			padding: 1rem 1.5rem;
		}
	}
}
