#report {

	#about-report {
		font-family: $secondary-font;

		strong {
			font-weight: 700;
		}

	}

	form {
		display: flex;
		flex-direction: column;
		max-width: 500px;

		div {
			display: flex;
			flex-direction: column;
		}

		.form-field {

			font-family: $primary-font;
			font-size: 0.9rem;
			margin: 0.5rem 0;

			input {
				color: rgb(202, 202, 197);
				font-family: $primary-font;
				font-size: 1rem;
				padding: 0.4rem;
			}

			label {
				margin-bottom: 0.2rem;
			}

			::placeholder {
				color: rgb(202, 202, 197);
				opacity: 1;
			  }

			  ::-ms-input-placeholder {
				color: rgb(202, 202, 197);
			  }

			#submit-btn {
				background-color: $primary-purple;
				border: 2px solid $primary-purple;
				color: white;
				width: fit-content;
				border-radius: 25px;
				font-size: 0.8rem;
				font-weight: 600;
				letter-spacing: .05rem;
				padding: 0.75rem 1.4rem;
				margin-top: 1rem;
				cursor: pointer;

				&:hover {
					background-color: $background-white;
					color: $primary-purple;
				}
			}
		}
	}

}
