#social-media {
	font-family: $primary-font;
	padding-bottom: 5rem;
	max-width: 500px;

	div:first-child {
		background-color: $background-grey-dark;
		color: white;
		display: flex;
		font-size: 0.8rem;
		font-weight: 200;
		align-items: center;
		padding: 2.5rem 0 2.5rem 1rem;
		margin-top: 5rem;
	}

	#social-media-links {
		display: flex;
		flex-direction: column;

		span {
			padding-left: 1rem;
			font-size: 0.8rem;
			font-weight: 600;
			margin: 1.5rem 0;
		}

		a {
			i {
				margin-left: 0.8rem;
				font-size: 0.8rem;
			}
		}
	}
}
