// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'config';
@import 'aside';
@import 'contact';
@import 'expert';
@import 'footer';
@import 'forrest-care';
@import 'forrest-fire';
@import 'intro';
@import 'header';
@import 'report';
@import 'main';
@import 'social-media';
@import 'when-to-report';

* {
    box-sizing: border-box;
}

html {
    color: $text-black;
}

body {
    scroll-behavior: smooth;
	background-color: $background-white;
	margin: 0;
}

.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

// Media-queries
@media screen and (min-width: $breakpoint-desktop) {
	#container {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
	}
}
