// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'config';
@import 'aside';
@import 'contact';
@import 'expert';
@import 'footer';
@import 'forrest-care';
@import 'forrest-fire';
@import 'intro';
@import 'header';
@import 'report';
@import 'main';
@import 'social-media';
@import 'when-to-report';

* {
    box-sizing: border-box;
}

html {
    color: $text-black;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
    scroll-behavior: smooth;
	background-color: $background-white;
	margin: 0;
}

section {
	margin: 2rem 0;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 1rem;
	}
}

.btn-link {
	background-color: $primary-red;
	border: 2px solid $primary-red;
	color: white;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
	font-weight: 300;
	letter-spacing: 0.08rem;
	padding: 0.7rem 1.4rem;
	margin-bottom: 0.7rem;
	text-transform: uppercase;

	&:hover {
		background-color: $background-white;
		color: $primary-red;
		font-weight: 500;
	}
}

.content {
	padding: 0 1rem;
}

.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

// Media-queries
@media screen and (min-width: $breakpoint-tablet) {

	#container {
		align-items: center;
	}

}

@media screen and (min-width: $breakpoint-desktop) {

	#container {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: max-content 30vh max-content max-content;
		align-items: normal;
	}
}
